@import "./../../../variables";

section.overlay-about {
  position: relative;
  padding-top: 4em;

  b {
    font-family: Roboto, sans-serif;
  }

  p {
    clear: both;
  }

  &, .background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .image {
    &:first-child {
      width: 40%;
      margin-right: 2em;
      float: right;
    }
    
    &:not(:first-child) {
      max-width: 30%;
    }

    margin: 0 auto 3em;
    max-width: 50%;

    img {
      max-width: 100%;
      width: auto;
      margin: 0 auto;
      display: block;
    }

    &.bottom {
      margin-top: 3em;
      margin-bottom: 0;
    }
  }

  .logo-lineup {
    display: flex;
    align-items: center;
    margin: 3em 5% 0;

    > * {
      width: 30%;

      img {
        max-height: 150px;
      }
    }
  }
  
  .bottom-credits {
    p {
      text-align: left;
      margin: 6em auto 0;
      width: 50%;
      clear: none;
    }
    
    .image {
      margin-top: 1em;
      margin-bottom: 3em;
    }
  }
}