@import "./../../../variables";

section.history {
  //font-size: 1.2rem;
  color: $white;
  fill: $white;
  text-shadow: 0.1em 0.1em 0.2em $black-shadow;
  
  h2 {
    padding-bottom: 30px;
  }
  
  .intro {
    padding-bottom: 90vh;
  }
  
  [data-marker] {
    &.sticky {
      > * {
        padding: 3.8em 2.2em 1.8em;
        border-radius: 0.4em;
        background-color: $blacker-shadow; 
      }
    }
  }
  
  .next-chapter {
    text-align: right;

    position: fixed;
    right: 15vw;
    bottom: 20vw;
    
    path {
      fill: $white;
    }
  }
}