@import "./../../../variables";

.full-screen-image {
  
  &-gradient, img {
    z-index: $underlay;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    transition: opacity 0.4s linear;
  }

  &-gradient {
    z-index: $underlayAbove;
  }
}