@import "./../../../variables";

footer {
  position: relative;
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 260px;
    
    p {
      font-size: 0.7rem;
      text-align: left;
    }

    > * {
      text-align: center;
      flex: 1;

      svg {
        max-height: 5rem;
      }
    } 
  }
}