<a class="link-button" target="_blank" href="{{ data.href }}">

    <span class="link-button-icon">
        {{ data.icon }}
    </span>

    <span class="link-button-label">
        {{ data.label }}
    </span>
</a>