@import "./../../../variables";

section.nuclear-waste {
  
  .atom {
    width: 75%;
    margin: 0 12.5%;
  }
  
  .nuclear_hazard {
    width: 50%;
    margin: 0 25%;
  }
  
  .ending {
    font-size: 1.6rem;
  }
  
  .view-link {
    cursor: pointer;
    color: $blue;
  }

  .vibrate {
    animation-name: vibrate;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  // cooling tower arrow
  .cls-1048 {
    animation-name: arrow-up;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes vibrate {
    0%   {transform: translate(0.5px, -0.5px)}
    50%  {transform: translate(-0.5px, 0.5px)}
    100% {transform: translate(0.5px, -0.5px)}
  }

  @keyframes arrow-up {
    0%   {
      transform: translateY(20px);
      opacity: 0;
    }
    20% {
      opacity: 0.9;
    }
    60%  {
      opacity: 0.9;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translateY(-60px);
    }
  }
}