<a class="view-button" data-target="{{ data.target }}" aria-label="{{ data.ariaLabel }}">
    <span class="view-button-label">{{ data.label }}</span>
    <span class="view-button-icon">{{ data.icon }}</span>
</a>