@import "./../../variables";

$max-width: 580px;

body main section {
  // dynamic view styling
  max-width: $max-width;
  margin: 0 auto;

  img, video {
    width: 100%;
    height: auto;

    background-size: 100% auto;
    background-position: center center;
  }

  ul {
    margin-bottom: 4em;
  }

  .media {
    width: $max-width;
    margin: 3em 0 4em;

    &-inline {
      width: 100%;
      font-size: 0.8em;

      &-untitled {
        margin-bottom: 3em;
      }

      > * {
        margin: 0;
      }

      svg, img, video {
        margin-bottom: 0.5em;
      }

      &.enlarge {
        margin-top: 4em;
        margin-bottom: 6em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg, img, video {
          width: calc(90vw);
          max-width: 1200px;
          height: auto;

          margin-bottom: 1em;

          text {
            font-size: 0.9em;
          }
        }
      }
    }
  }

  .extra-info {
    cursor: pointer;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0.1rem 0;

    &.right, &.left {
      > * {
        // TODO needs mobile fix
        position: absolute;
        top: -6rem;
        width: 6rem;
      }
    }

    &.right {
      > * {
        left: 106%;
      }
    }

    &.left {
      > * {
        right: 106%;
      }
    }
  }

  .next-chapter {
    text-align: right;
    padding-top: 4rem;
    
    > * {
      cursor: pointer;

      &:hover {
        color: $grey-dark;

        svg * {
          fill: $grey-dark;
          stroke: $grey-dark;
        }
      }

      &:active {
        color: $black;

        svg * {
          fill: $black;
          stroke: $black;
        }
      }
    }
  }
}