@import "./../../variables";

$max-width: 580px;

body main section {
  // dynamic view styling
  max-width: $max-width;
  margin: 0 auto;
  
  
  
  img, video {
    width: 100%;
  }
  
  .media {
    width: $max-width;
    margin: 2em 0;
    
    &-inline {
      
    }
  }
}