@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import "_variables.scss";


html {
  background-color: $bg-base;

  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-normal;
  color: $txt-main;

  body {

    h1 {
      font-size: 3.4rem;
      padding: 170px 0 50px;
    }

    h2 {
      font-size: 2rem;
      padding: 140px 0 0;
    }

    h3, h4, h5 {
      font-size: 1.4rem;
      padding: 50px 0 0;
    }

    p {
      font-family: $font-text;
      line-height: 1.65em;
      text-align: justify;
    }

    a {
      word-break: break-all; // no overflowing long links
      text-decoration: none;
    }
  }

  // breakpoints above
  @media screen and (min-width: $w1080) {
    font-size: 1.1rem;
  }
  
  @media screen and (min-width: $wMax) {
    font-size: 1.2rem;
  }

  // breakpoints below
  @media screen and (max-width: $wMobile) {
    body {
      h1 {
        font-size: 3rem;
      }
    }
  }
}
