// widths / breakpoints
$wMax: 1366px;
$w1080: 1080px;
$wMobileAbove: 751px;
$wMobile: 750px;
$w680: 680px;
$w550: 550px;
$w450: 450px;
$w320: 320px;

// z-index
$global-prio: 999;
$overlay-prio: 11;
$overlay: 10;
$cover: 9;
$above-prio: 5;
$above: 4;
$default: 2;
$mapLayerPrio: 1;
$mapLayer: 0;
$underlayAbove: -1;
$underlay: -2;
$appBackground: -3;

// font
$font-family: Roboto, sans-serif;
$font-text: Georgia, sans-serif;
$font-size: 16px;
$font-normal: 300;
$font-bold: bold;


// colors
$white: #fff;
$black: #000000;
$grey: #e4e4e4;
$grey-dark: #a3a3a3;
$white-shadow: rgba(255, 255, 255, 0.5);
$blacker-shadow: rgba(0, 0, 0, 0.6);
$black-shadow: rgba(0, 0, 0, 0.5);
$hover-shadow: rgba(0, 0, 0, 0.2);
$green: #179860;
$yellow: #fff200;
$orange: #ff9f00;
$red: #ff3131;
$blue: #2e5eff;
//    layout
$bg-overlay: #fff;
$bg-cover: rgba(0, 0, 0, 0.51);
$bg-base: $white;
$bg-app: $white;
//    font
$txt-main: $black;
//    highlight
$hi-hover: $red;
$hi-active: $red;
$hi-active-temp: rgba(255, 0, 0, 0.15);
//    map
$map: $grey;
$map-layer: darken($map, 10);
$map-border: $black;
$map-clay: #d4b417;
$map-rocksalt: #ff7700;
$map-rocksalt-jurassic: #c74200;
$map-rocksalt-keuper: #a80052;
$map-granite: #7cc0c0;
