// breakpoints
$w1080: 1080px;
$mobile: 750px;
$w320: 320px;


// font
$font-family: Roboto, sans-serif;
$font-size: 14px;
$font-weight: normal;


// colors
$white: #fff;
$black: #000;
//    layout
$bg-base: #fff;
$bg-app: #fff;
$bg-shadow: rgba(0, 0, 0, 0.5);
//    font
$txt-main: #000;