@import "/core/util/style/normalize";
@import "variables";
@import "font";

body {
  // static content styling
  
  > * {
    display: block;
    position: relative;
    margin: 0 auto;
  }

  header {
  }

  main {
    margin: 100px;
  }
}