@import "/core/util/style/normalize";
@import "variables";
@import "font";

// static content styling
body {
  overflow-x: hidden;

  > * {
    display: block;
    position: relative;
    margin: 0 auto;
  }

  header {
  }

  main {
    margin: 20px;
  }
}